@import "@styles/theme.scss";

// Your style here
.header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #{$color-main-light}60;
    z-index: 100;

    .links {
        --num-of-links: 5;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(var(--num-of-links), 1fr);
        grid-template-rows: 100%;
        justify-content: center;
        justify-items: center;
        gap: 2rem;

        @include mq-medium {
            --num-of-links: 3;

            li:nth-child(2n) {
                display: none;
            }
        }

        li {
            height: 100%;
            padding: 0 1rem;
        }
    }

    .button, .icon {
        display: flex;
        align-items: center;
    }

    .button {
        justify-self: end;
    }

    .icon {
        justify-self: start;
    }
}