@import "@styles/theme.scss";

// Your style here
.link {
    @include typo-cta;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-main-dark;

    div {
        margin-right: 1rem;
    }

    &:hover {
        text-decoration: underline;
    }
}