@import "@styles/theme.scss";

// Your style here
.menu_element {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    align-items:  center;
    padding: 0 8%;
    background-color: $color-main-light;
    overflow: hidden;

    .element__bg {
        @include typo-heading;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 150vh;
        margin: 0 8%;
        font-size: 30rem;
        text-transform: uppercase;
        opacity: .1;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
    }

    .element__content {
        position: relative;
        grid-column-start: 1;
        grid-column-end: 4;
        z-index: 2;

        h2 {
            @include typo-heading;
            text-transform: uppercase;
            color: $color-secondary;
        }
        
        p {
            @include typo-paragraph;
            width: 70%;
            margin-top: 1.6rem;
        }

        .button {
            margin-top: 3.2rem;
        }
    }

    figure {
        position: relative;
        grid-column-start: 4;
        grid-column-end: 8;
        // height: 400px;
        z-index: 2;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}