@import "@styles/theme.scss";

// Your style here
.scrollbar {
    position: fixed;
    right: 9%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 60vh;
    width: 20px;
    transform: translate3d(0, -50%, 0);
    z-index: 100;

    div {
        position: relative;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: 1px solid $color-secondary;
        cursor: pointer;
        transition: background-color .3s ease-out;

        &::before, &::after {
            content: '';
            position: absolute;
        }

        &::after {
            $after-size: 70%;
            top: 50%;
            left: 50%;
            height: $after-size;
            width: $after-size;
            transform: translate3d(-50%, -50%, 0);
            border-radius: 50%;
            background-color: transparent;
        }

        + div {
            $scrollbar-gap: 8rem;
            margin-top: $scrollbar-gap;

            &::before {
                top: #{$scrollbar-gap * -0.1};
                left: 50%;
                height: #{$scrollbar-gap * 0.8};
                width: 2px;
                transform: translate3d(-50%, -100%, 0);
                background-color: $color-secondary;
                pointer-events: none;
            }
        }

        &.active::after {
            background-color: $color-secondary;
        }
    }
}